.btn {
  position: absolute;
  background-color: $bg-button;
  user-select: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;

  .video-wrapper__fullscreen & {
    display: flex;
  }
}

.btn__minimize {
  top: $space-m;
  right: $space-m;
}

.btn__settings {
  bottom: $space-m;
  right: $space-m;
}

.btn__volume {
  bottom: $space-m;
  right: 60px;
}

@media screen and (max-width: 520px) {
  .btn__volume,
  .btn__settings {
    bottom: $space-l;
  }
  .btn__minimize {
    top: $space-l;
  }
}
