.settings {
  position: absolute;
  z-index: 2;
  background-color: $bg;
  border-radius: 20px;
  width: 500px;
  height: 40px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  display: none;
}

.settings__visible {
  display: flex;
}

.settings_item {
  display: flex;
  justify-content: center;
}

.settings_icon {
  margin-right: 4px;
}

.settings_input {
  position: relative;
  top: -3px;
}

@media screen and (max-width: 760px) {
  .settings {
    left: 20px;
    bottom: auto;
    top: 50%;
    height: 100px;
    max-width: 70vh;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-50%);
  }
}
