.volume-bar {
  position: absolute;
  right: $space-m;
  bottom: 80px;
  background-color: #8e44ad;
  width: 6px;
  height: 300px;
  border-radius: 2px;
  opacity: 0.7;
  transform-origin: center bottom;
  transform: scaleY(0.05);
  transition: transform 0.1s ease-in-out;
  display: none;

  .video-wrapper__fullscreen & {
    display: block;
  }
}
